* {
  padding: 0;
  margin: 0;
  transition: 0.25s;
}

html,
body,
#root {
  min-height: 100vh;
  min-width: 100vh;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  width: 3em;
  height: 3em;
  border: 0.2em solid;
  border-radius: 2em;
  background: transparent;
}

button:hover {
  transform: scale(1.1);
}

.QuoteBox {
  padding: 1em;
  min-height: 15vh;
  width: 25em;
  background: white;
  box-shadow: 0 0 1em rgba(0, 0, 0, 1);
  border-radius: 1em;
  z-index: 99;
}

.App {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.Quote {
  position: relative;
  min-height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1em #52006a;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.text {
  font-family: "Be Vietnam", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

.author {
  font-family: "Montserrat", sans-serif;
}

q::before,
q::after {
  font-size: 1.5em;
  font-weight: bold;
}

.twitter {
  min-width: 2.8em;
  min-height: 2.8em;
  padding: 0;
}

.a {
  border: 0.2em solid rgba(0, 0, 0, 1);
  border-radius: 2em;
  background-size: 2em;
  background-repeat: no-repeat;
  background-position: center center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  transform: scale(1.1);
}

.mark {
  position: fixed;
  bottom: 1em;
  right: 1em;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  z-index: 99;
}

.mark:hover {
  transform: scale(1.1);
}

.marquee1,
.marquee2 {
  position: absolute;
  font-size: 25em;
  opacity: 0.5;
  white-space: nowrap;
  z-index: 1;
}

.marquee1 {
  bottom: -50px;
  animation-name: marquee;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.marquee2 {
  top: -50px;
  animation-name: marquee;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes marquee {
 from {
    padding-left: 100vh;
    padding-right: 0em;
  }
  to {
    padding-right: 100vh;
    padding-left: 0em;
  }
}
